@using System.Security.Claims
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>

    <title>@ViewData["Title"]</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="images/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    @await RenderSectionAsync("Styles", false)

</head>
<body>

<nav class="navbar default-color">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">KidsLogic</a>

        @if (User.Identity is { IsAuthenticated: true })
        {
            <span class="secondary-text text-wrap text-end ms-auto">@User.FindFirst(ClaimTypes.Name)?.Value @User.FindFirst(ClaimTypes.Surname)?.Value</span>
            <img id="avatar" onclick="location.href='/account/logout';" src="@User.FindFirst(ClaimTypes.Uri)?.Value" width="45" height="45" alt="" loading="lazy">
        }
        else
        {
            <div class="reg-buttons">
                <button class="btn btn-outline-secondary nav-button reg-button-text" type="button" onclick="location.href='/account/register';">Регистрация</button>
                <button class="btn btn-outline-secondary nav-button reg-button-text" type="button" onclick="location.href='/account/login';">Вход</button>
            </div>
        }

    </div>
</nav>

<div class="container">
    @RenderBody()
    <p></p>
    <footer>
        <p>© 2022 — KidsLogic</p>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
@await RenderSectionAsync("Scripts", false)

</body>
</html>